.row.top30
  .col.l12
    .row
      - if @products.any?
        #products{ "data-columns" => "" }
          = render @products
      - else
        .col.l12
          %h3.center-align No products available
