.row.top30
  .col.s12
    .row
      #products{ "data-columns" => "" }
        - @products.each do |product|
          .card
            .card-image
              = image_tag("image1.jpg")
            .card-content
              %h5= product.name
            .card-action
              = link_to "Buy 1 for #{number_to_currency(product.price, unit: 'P')}", "#", class: "blue-text text-lighten-2"
