.row.top30
  .col.s12
    .row
      #products{ "data-columns" => "" }
        - @products.each do |product|
          .card
            .card-image
              = image_tag("image1.jpg")
            .card-content
              %p.left= product.name
              %p.right= number_to_currency(product.price, unit: "P")
              .clear
            .card-action
              = link_to "Add to cart", "#"
