@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

.top30 {
  margin-top: 30px;
}

.clear {
  clear: both;
}

#products[data-columns]::before {
  content: '3 .col.l4.s12';
}
