.row
  .col.l12
    .top30
      .card
        .card-content
          %h4 Order Successful!
          %p 
            Your order with a reference number of 
            %span.bold 
              D02292016000 
            has been received. We will send you an email regarding your order details shortly.

          %br 

          %p 
            We are more than happy to serve you. Thanks!
